<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../styles/css1.css">
</head>
<body>
    <main>
        <header>
            <h1 class="h1">Diseño <h1 class="h2">Multimedia</h1>
            <nav class="botones1">
                <a href="../index.html">
                     <b>INICIO</b>
                </a>
                <a href="./nosotros.html">
                    <b class="inicio">NOSOTROS </b>
                </a>
                <a href="./servicios.html">
                    <b>SERVICIOS</b>
                </a>
                <a href=".contacto.html">
                    <b>CONTACTO</b>
                </a>
            </nav>
        </header>
        <hr>
        <section class="sec2">
            <h3 class="h3">Subcribete a nuestro boletin </h3>
            <nav class="caja_email">
                <input placeholder="ingrese el email" type="email">
                <button>Subcribir</button>
            </nav>
        </section>
        <section class="sec4">
            <h3 class="h3_2">Nosotros</h3>
            <p class="p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque provident, distinctio sequi nisi est saepe minima laborum sit debitis ratione dolore. Exercitationem ipsum voluptates maxime nostrum explicabo molestias mollitia eligendi Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, et tempore. Adipisci quia necessitatibus eligendi facilis, porro, tenetur quasi rem officiis cupiditate esse distinctio alias dolorum sed! Deserunt, voluptates culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsum cum expedita dolorem blanditiis enim.</p>
        </section>
        <section class="sec5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quidem, odio officiis perferendis, saepe modi molestias nulla provident velit tempore ullam est. Cum eligendi ad expedita ratione, provident veniam libero. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse vero dolorem accusantium eveniet, illum repellendus laborum amet cum, vel laboriosam in. Voluptatum sapiente praesentium reprehenderit veritatis dolore eaque, numquam nobis! . Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, consectetur? Corrupti eaque blanditiis nihil fugit quasi aspernatur. Minus quidem omnis, corrupti voluptas nostrum, cum modi consectetur dolor earum, recusandae saepe.</p>
        </section>
        <br>
        <section class="sec6">
            <img class="compu" src="../assets/891.jpg" alt="compu">
        </section>
        <section class="sec7">
            <h3>Que hacemos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta placeat dolorum temporibus facere assumenda ab, quam quas possimus ex quasi deleniti impedit totam cupiditate architecto voluptas eligendi sit nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti culpa nostrum explicabo tenetur, dolorem, dicta atque. </p>
        </section>
        <footer>
            <p>David Muñoz Web, Copyright &copy; 2024</p>
        </footer>
    </main>
</body>
</html>